.BaseToast {
  position: fixed;
  z-index: $toast;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;

  &_Wrapper {
    left: 0px;
    right: 0px;
    display: flex;
    position: absolute;
    transition: all 230ms cubic-bezier(0.21, 1.02, 0.73, 1) 0s;
    transform: translateY(0px);
    bottom: em(44px);
    justify-content: center;
    z-index: $toast;
    pointer-events: none;
  }

  &_Toast {
    pointer-events: initial;
    position: relative;
    max-width: em(551px);
    padding: em(16px) em(24px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: em(12px);
    background: rgb(193, 253, 97);
    box-shadow: 0px 8px 8px 0px rgba(163, 163, 163, 0.7);

    animation: 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards
      running fadeIn;

    @include ifmobile {
      max-width: em(336px);
      padding: em(12px);
    }

    .Content {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;

      &_Text {
        margin-right: auto;
        p {
          color: rgb(55, 55, 55);
          font-family: 'Poppins', sans-serif;
          font-size: em(18px);
          font-weight: 400;
          letter-spacing: 0%;
          @include ifmobile {
            font-size: em(12px);
          }
        }
      }

      &_ToLogin {
        position: relative;
        margin-left: em(16px);
        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: $text;
          opacity: 0;
          transition: all $speed ease;
        }
        span {
          display: flex;
          color: $text;
          font-family: 'Poppins', sans-serif;
          font-size: em(18px);
          font-weight: 500;
          white-space: nowrap;
          transition: color $speed ease;
        }

        &:hover {
          &::before {
            opacity: 1;
          }
        }
        &:active {
          &::before {
            opacity: 1;
            background: $purple;
          }
          span {
            color: $purple;
          }
        }
      }

      &_CloseCounter {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: em(26px);
        height: em(26px);
        margin-left: em(35px);
        .Progress {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: em(26px);
          height: em(26px);
          overflow: visible;
        }
        .Value {
          position: absolute;
          top: 50%;
          transform: translate(0%, -50%);
          z-index: 2;
          color: $purple;
          font-size: em(14px);
          font-weight: 600;
        }
      }
    }
  }
}

@include keyframe(fadeIn) {
  0% {
    transform: translate3d(0, 200%, 0) scale(0.6);
    opacity: 0.5;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@include ifmobile {
}
