.Landing {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
}

.Content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
