//z-index-ы
$popup: 1000;
$toast: 1001;

$error: #c92100;
$pr1: #f98973;
$pr2: #6d6bce;

$speed: 0.3s;
$DaysOne: 'Days One', sans-serif;
$Poppins: 'Poppins', sans-serif;

$white: rgb(255, 255, 255);
$purple: rgb(118, 86, 245);
$text: rgb(55, 55, 55);
