.LogIn {
  padding: em(160px) 0 em(187px);
  @include iflaptop {
    padding: em(134px) 0 em(80px);
  }
  @include iftablet {
    padding: em(134px) 0 em(60px);
  }
  @include ifmobile {
    padding: em(114px) 0 em(40px);
  }

  &_Container {
    max-width: em(1270px);
    @include iftablet {
      max-width: em(550px);
    }
  }

  &_Title {
    text-align: center;
    margin-bottom: em(20px);
    @include iflaptop {
      margin-bottom: em(32px);
    }
    @include iftablet {
      margin-bottom: em(28px);
    }
    @include ifmobile {
      margin-bottom: em(23px);
    }
    span {
      color: $purple;
    }
  }

  &_Subtitle {
    text-align: center;
    max-width: em(580px);
    margin: 0 auto em(40px);
    @include iflaptop {
      max-width: em(537px);
      margin: 0 auto em(60px);
    }
    @include iftablet {
      max-width: em(536px);
      margin: 0 auto em(50px);
    }
    @include ifmobile {
      margin: 0 auto em(37px);
    }
  }

  &_Content {
    box-sizing: border-box;
    border: 2px solid $border;
    box-shadow: -2px 4px 12px 0px rgb(246, 246, 246);
    background: $white;
    border-radius: em(16px);
    display: grid;
    grid-template-columns: em(404px) 1fr;
    gap: 0 em(186px);
    padding: em(60px) em(91px) em(32px);
    @include iflaptop {
      grid-template-columns: em(269px) 1fr;
      gap: 0 em(136px);
      padding: em(38px) em(52px) em(32px) em(38px);
    }
    @include iftablet {
      grid-template-columns: 1fr;
      padding: em(38px) em(38px) em(32px) em(40px);
    }
    @include ifmobile {
      grid-template-columns: 1fr;
      padding: em(38px) em(18px) em(30px);
    }

    .Image {
      width: em(404px);
      height: em(404px);
      @include iflaptop {
        width: em(306px);
        height: em(306px);
      }
      @include iftablet {
        display: none;
      }
      @include ifmobile {
        display: none;
      }
    }

    .Form {
      display: flex;
      flex-direction: column;
      &_Fields {
        display: grid;
        grid-template-columns: 1fr;
        gap: em(20px) 0;
        margin-bottom: em(20px);
        @include ifmobile {
          margin-bottom: em(28px);
        }
      }

      &_ForgotPassword {
        width: max-content;
        margin-bottom: em(30px);
        position: relative;
        @include ifmobile {
          margin-bottom: em(28px);
        }
        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 1px;
          background: $purple;
        }
        span {
          color: $grey;
          font-size: em(16px);
          font-weight: 400;
          transition: all $speed ease;
        }

        &:hover {
          span {
            color: $text;
          }
        }
        &:active {
          span {
            color: $text;
            font-weight: 500;
          }
        }
      }

      &_Button {
        margin-left: em(6px);
        margin-bottom: em(52px);
        @include iflaptop {
          margin-bottom: em(72px);
        }
        @include iftablet {
          margin-bottom: em(72px);
        }
        @include ifmobile {
          width: 100%;
          margin-bottom: em(45px);
        }
      }

      &_ToMainPage {
        margin-top: auto;
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
