.Logo {
  display: flex;
  height: 100%;
  width: em(85px);
  height: em(38px);
  cursor: pointer;
  overflow: visible;

  @include ifdesktop {
    width: em(107px);
    height: em(48px);
  }

  svg {
    width: inherit;
    height: 100%;
  }

  &__Q,
  &__F {
    transition: all $speed ease;
  }

  &:hover {
    .Logo__F {
      transform: translate(-4px);
      transform-origin: right bottom;
    }
    .Logo__Q {
      transform: rotate(4deg);
      transform-origin: right bottom;
    }
  }

  &_Footer {
    .Logo__A,
    .Logo__Q,
    .Logo__F {
      fill: $text;
    }
  }
}
