.BaseTextarea {
  font-size: 100%;
  position: relative;
  display: flex;
  flex-direction: column;

  .Label,
  .Optional {
    user-select: none;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    top: em(22px);
    left: em(12px);
    transform: translate(0, -50%);
    transform-origin: left top;
    transition: all $speed ease;

    span {
      color: rgb(153, 153, 153);
      font-family: 'Poppins', sans-serif;
      font-size: em(16px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    &__NoEmpty {
      transform: translate(0, em(-16px)) scale(0.8);
    }
  }

  .Optional {
    left: auto;
    right: em(12px);
    &__NoEmpty {
      right: em(7px);
      transform: translate(0, em(-18px)) scale(0.9);
    }
    span {
      font-size: em(14px);
    }
  }

  &_Wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all $speed ease;
    border: 1px solid rgb(204, 191, 255);
    background: rgb(255, 255, 255);
    border-radius: em(8px);
    padding: em(26px) em(12px) em(12px);
    box-sizing: border-box;

    .Textarea {
      resize: none;
      text-overflow: ellipsis;
      scroll-behavior: smooth;
      text-rendering: optimizeSpeed;
      box-sizing: border-box;

      width: 100%;
      min-height: em(78px);
      max-height: em(200px);
      outline: none;
      border: none;
      position: relative;
      box-shadow: none;
      background: rgb(255, 255, 255);

      color: rgb(55, 55, 55);
      font-family: 'Poppins', sans-serif;
      font-size: em(16px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @include placeholder-color(transparent);

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none; /* IE и Edge */
      scrollbar-width: none; /* Firefox */
    }
  }

  &:hover {
    .BaseTextarea_Wrapper {
      border-color: rgb(118, 86, 245);
    }
  }

  &__Focus {
    .Label {
      transform: translate(0, em(-16px)) scale(0.8);
    }
    .Optional {
      right: em(7px);
      transform: translate(0, em(-18px)) scale(0.9);
    }

    .BaseTextarea_Wrapper {
      border-color: rgb(118, 86, 245);
    }
  }

  &__Error {
    .BaseTextarea_Wrapper {
      border-color: rgb(255, 5, 5) !important;
    }

    .BaseTextarea_ErrorText {
      margin-top: em(4px);
      p {
        color: rgb(255, 5, 5);
        font-family: 'Poppins', sans-serif;
        font-size: em(12px);
        font-weight: 400;
      }
    }
  }

  //disabled style
  &__Disabled,
  &__Disabled:hover,
  &__Disabled:focus {
    cursor: not-allowed;
    pointer-events: none;
    user-select: none;

    .BaseTextarea_Wrapper {
      opacity: 0.4;
    }

    .Label,
    .Optional {
      span {
        opacity: 0.6;
      }
    }
  }
}
