.HowWorks {
  position: relative;
  z-index: 1;
  border-radius: em(80px);
  background: $white;
  padding: em(100px) 0 em(120px);
  box-shadow: -2px 4px 12px 0px rgb(246, 246, 246);
  @include iflaptop {
    border-radius: em(40px);
    padding: em(60px) 0 em(86px);
  }
  @include iftablet {
    border-radius: em(40px);
    padding: em(60px) 0 em(66px);
  }
  @include ifmobile {
    border-radius: em(40px);
    padding: em(44px) 0 em(66px);
  }

  &_Container {
    position: relative;
  }

  &_Title {
    position: relative;
    z-index: 1;
    margin: 0 auto em(40px);
    text-align: center;
    @include iflaptop {
      margin: 0 auto em(32px);
    }
    @include iftablet {
      margin: 0 auto em(28px);
    }
    @include ifmobile {
      margin: 0 auto em(28px);
    }
  }

  &_Description {
    position: relative;
    z-index: 1;
    max-width: em(480px);
    margin: 0 auto em(217px);
    text-align: center;
    @include iflaptop {
      max-width: em(420px);
      margin: 0 auto em(72px);
    }
    @include iftablet {
      max-width: em(420px);
      margin: 0 auto em(56px);
    }
    @include ifmobile {
      margin: 0 auto em(56px);
    }
  }

  &_Content {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: em(1290px);
    margin: 0 auto em(170px);
    @include iflaptop {
      margin: 0 auto em(112px);
    }
    @include iftablet {
      margin: 0 auto em(110px);
    }
    @include ifmobile {
      margin: 0 auto em(63px);
    }

    .Step {
      position: relative;
      display: flex;
      flex-direction: row;
      position: relative;
      &_Number {
        margin-right: em(13px);
        @include ifdesktop {
          margin-right: em(24px);
        }
        span {
          font-weight: 500;
          font-size: em(32px);
          line-height: 100%;
          color: $purple;
          white-space: nowrap;
          @include iflaptop {
            font-size: em(20px);
          }
          @include iftablet {
            font-size: em(18px);
          }
          @include ifmobile {
            font-size: em(18px);
          }
        }
      }

      &_Content {
        max-width: em(374px);
        .Title {
          margin-bottom: em(22px);
          @include iflaptop {
            margin-bottom: em(6px);
          }
          @include iftablet {
            margin-bottom: em(10px);
          }
          @include ifmobile {
            margin-bottom: em(8px);
          }
          p {
            font-weight: 500;
            font-size: em(24px);
            color: $text;
            @include iflaptop {
              font-size: em(18px);
            }
            @include iftablet {
              font-size: em(16px);
            }
            @include ifmobile {
              font-size: em(16px);
            }
          }
        }
        .Description {
          font-weight: 400;
          font-size: em(16px);
          color: $grey;
          @include iflaptop {
            font-size: em(14px);
          }
          @include iftablet {
            font-size: em(14px);
          }
          @include ifmobile {
            font-size: em(13px);
          }
        }
      }

      &_Image {
        position: absolute;
      }

      &_Line {
        position: absolute;
        overflow: visible;

        &__Desktop {
          display: none;
          @include ifdesktop {
            display: block;
          }
        }

        &__Laptop {
          display: none;
          @include iflaptop {
            display: block;
          }
        }

        &__Tablet {
          display: none;
          @include iftablet {
            display: block;
          }
        }

        &__Mobile {
          display: none;
          @include ifmobile {
            display: block;
          }
        }
      }

      &__1 {
        margin-bottom: em(223px);
        @include iflaptop {
          margin-bottom: em(114px);
        }
        @include iftablet {
          margin-bottom: em(110px);
        }
        @include ifmobile {
          margin-bottom: em(30px);
        }
        .Step_Content {
          @include iflaptop {
            max-width: em(303px);
          }
          @include iftablet {
            max-width: em(303px);
          }
          @include ifmobile {
            max-width: em(245px);
          }
        }
        .Step_Image {
          top: em(-80px);
          right: em(50px);
          width: em(378px);
          height: em(273px);
          @include iflaptop {
            top: em(-14px);
            right: em(132px);
            width: em(202px);
            height: em(146px);
          }
          @include iftablet {
            top: em(-2px);
            right: em(67px);
            width: em(202px);
            height: em(146px);
          }
          @include ifmobile {
            display: none;
          }
        }

        .Step_Line {
          top: em(48px);
          left: em(36px);
          width: em(581px);
          height: em(294px);
          @include iflaptop {
            top: em(38px);
            left: em(30px);
            width: em(435px);
            height: em(159px);
          }
          @include iftablet {
            top: em(38px);
            left: em(30px);
            width: em(323px);
            height: em(160px);
          }
          @include ifmobile {
            top: em(23px);
            left: em(22px);
            width: em(2px);
            height: em(118px);
          }
        }
      }

      &__2 {
        justify-content: flex-end;
        margin-right: em(218px);
        margin-bottom: em(202px);
        @include iflaptop {
          margin-right: em(53px);
          margin-bottom: em(90px);
        }
        @include iftablet {
          margin-right: 0;
          margin-bottom: em(90px);
        }
        @include ifmobile {
          margin-right: 0;
          margin-bottom: em(32px);
          justify-content: flex-start;
        }
        .Step_Content {
          @include iflaptop {
            max-width: em(358px);
          }
          @include iftablet {
            max-width: em(335px);
          }
          @include ifmobile {
            max-width: em(245px);
          }
        }

        .Step_Image {
          top: em(-168px);
          left: em(-102px);
          width: em(421px);
          height: em(378px);
          @include iflaptop {
            top: em(-70px);
            left: em(44px);
            width: em(223px);
            height: em(185px);
          }
          @include iftablet {
            top: em(-66px);
            left: em(24px);
            width: em(223px);
            height: em(185px);
          }
          @include ifmobile {
            display: none;
          }
        }

        .Step_Line {
          top: em(47px);
          left: em(36px);
          width: em(581px);
          height: em(302px);
          @include iflaptop {
            top: em(35px);
            left: em(30px);
            width: em(435px);
            height: em(163px);
          }
          @include iftablet {
            top: em(35px);
            left: em(30px);
            width: em(323px);
            height: em(173px);
          }
          @include ifmobile {
            top: em(25px);
            left: em(22px);
            width: em(2px);
            height: em(144px);
          }
        }
      }

      &__3 {
        .Step_Content {
          @include iflaptop {
            max-width: em(358px);
          }
          @include iftablet {
            max-width: em(335px);
          }
          @include ifmobile {
            max-width: em(245px);
          }
        }

        .Step_Image {
          top: em(-96px);
          right: em(60px);
          width: em(433px);
          height: em(389px);
          @include iflaptop {
            top: em(-19px);
            right: em(117px);
            width: em(234px);
            height: em(210px);
          }
          @include iftablet {
            top: em(-27px);
            right: em(36px);
            width: em(234px);
            height: em(210px);
          }
          @include ifmobile {
            display: none;
          }
        }

        .Step_Line {
          top: em(46px);
          left: em(36px);
          width: em(581px);
          height: em(294px);
          @include iflaptop {
            top: em(34px);
            left: em(30px);
            width: em(435px);
            height: em(205px);
          }
          @include iftablet {
            top: em(34px);
            left: em(30px);
            width: em(323px);
            height: em(206px);
          }
          @include ifmobile {
            top: em(24px);
            left: em(22px);
            width: em(58px);
            height: em(243px);
          }
        }
      }
    }
  }

  &_Button {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }
}
@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
