.Header {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  min-height: em(74px);
  padding: em(18px) 0;
  border-bottom: 2px solid $border;
  box-shadow: 0px 2px 12px 0px rgb(247, 247, 247);
  background: $white;

  @include ifdesktop {
    min-height: em(100px);
    padding: em(25px) 0;
  }

  &_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &_Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: em(20px);
  }

  &_Navbar {
    display: none;
    flex-direction: row;
    align-items: center;
    @include ifdesktop {
      display: flex;
    }
    li:not(:last-child) {
      margin-right: em(48px);
    }

    .Link {
      line-height: normal;
      white-space: nowrap;
      color: $text;
      font-family: $Poppins;
      font-size: em(20px);
      font-weight: 500;

      overflow: hidden;
      background: linear-gradient(to right, $purple, $purple 50%, $text 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: all $speed ease;
      &:hover {
        // color: $purple;
        background-position: 0 100%;
      }
      &:active {
        // font-weight: 500;
        background-position: 0 100%;
      }

      &_Active {
        // color: $purple;
        background-position: 0 100%;
      }
    }
  }

  &_Actions {
    display: none;
    flex-direction: row;
    align-items: center;
    @include ifdesktop {
      display: flex;
    }
    .Login {
      margin-right: em(12px);
    }

    .User {
      display: flex;
      justify-content: center;
      align-items: center;
      // width: em(46px);
      height: em(46px);
      padding: em(8px) em(12px);
      margin-right: em(20px);
      border-radius: em(8px);
      background: $purple;
      transition: all $speed ease;
      box-shadow: -6px 6px 0px 0px rgba(55, 55, 55, 0.2);

      &_Icon {
        width: em(20px);
        height: em(20px);
      }

      &:hover {
        background: rgb(98, 60, 246);
      }

      &:active {
        box-shadow: none;
        transform: translate(-4px, 4px);
      }
    }

    .Logout {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      @extend %button;
      font-size: 100%;
      padding: em(8px) em(12px);
      border: 2px solid $border;
      border-radius: em(8px);
      box-shadow: -6px 6px 0px 0px rgba(55, 55, 55, 0.2);
      transition: all $speed ease;

      background: linear-gradient(
        to left,
        transparent 50%,
        rgb(118, 86, 245) 50%
      );
      background-size: 200% 100%;
      background-position: right top;

      &_Label {
        display: flex;
        color: $text;
        font-family: $Poppins;
        font-size: em(18px);
        font-weight: 500;
        transition: all $speed ease;
      }

      &_Icon {
        width: em(24px);
        height: em(24px);
        margin-left: em(12px);
        path {
          transition: all $speed ease;
        }
      }

      &:hover {
        border: 2px solid rgb(118, 86, 245);
        background-position: left top;
        .Logout_Label {
          color: $white;
        }
        .Logout_Icon path {
          fill: $white;
        }
      }

      &:active {
        border: 2px solid rgb(118, 86, 245);
        background-position: left top;
        box-shadow: none;
        transform: translate(-4px, 4px);
        .Logout_Label {
          color: $white;
        }
        .Logout_Icon path {
          fill: $white;
        }
      }
    }
  }

  &_Burder {
    position: fixed;
    right: em(48px);
    z-index: 10000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: em(27px);
    height: em(18px);
    cursor: pointer;

    @include ifdesktop {
      display: none;
    }
    @include iftablet {
      right: em(20px);
    }
    @include ifmobile {
      right: em(12px);
    }
    span {
      position: absolute;
      width: 100%;
      height: em(3px);
      background: rgb(153, 153, 153);
      border-radius: em(9px);
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: all $speed ease;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 50%;
        transform: translate(0, -50%);
      }

      &:nth-child(4) {
        bottom: 0;
      }
    }

    &__Active {
      span:nth-child(1),
      span:nth-child(4) {
        opacity: 0;
      }

      span:nth-child(2) {
        opacity: 1;
        top: auto;
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        top: auto;
        transform: rotate(-45deg);
      }
    }
  }

  &_Sidebar {
    position: fixed;
    z-index: $popup;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: all $speed ease;

    .Overlay {
      @extend %fullsize;
      background: rgba(55, 55, 55, 0.3);
    }

    .Sidebar {
      position: fixed;
      z-index: 1001;
      top: 0;
      right: 0;
      width: em(432px);
      overflow: auto;
      overflow-x: hidden;
      max-height: 100dvh;
      height: auto;
      border: 1px solid $border;
      border-radius: 0px 0px 0px 8px;
      box-shadow: -2px 4px 12px 0px rgba(163, 163, 163, 0.7);
      background: $white;
      transition: all $speed ease;
      transform: translate(100%, 0);
      @include iftablet {
        width: em(376px);
      }

      @include ifmobile {
        width: 100%;
        border-radius: 0px 0px 9px 8px;
      }

      &_Content {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 100%;
        min-height: 100%;
        padding: em(20px) em(48px) em(32px);
        @include iftablet {
          padding: em(20px) em(20px) em(32px);
        }
        @include ifmobile {
          padding: em(20px) em(12px) em(32px);
        }
      }

      &_Header {
        margin-bottom: em(76px);
      }

      &_Navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto em(120px);
        li:not(:last-child) {
          margin-bottom: em(30px);
        }
        .Link {
          color: $text;
          font-family: $Poppins;
          font-size: em(16px);
          font-weight: 400;
          text-align: center;
          line-height: normal;
          white-space: nowrap;
          &_Active {
            color: $purple;
          }

          &:hover {
            color: $purple;
          }
        }
      }

      &_Actions {
        display: flex;
        flex-direction: column;
        .Login {
          margin-bottom: em(18px);
        }
        .Login,
        .SignUp {
          width: 100%;
        }

        .User {
          display: flex;
          justify-content: center;
          align-items: center;
          height: em(40px);
          padding: em(8px) em(12px);
          margin-bottom: em(18px);
          border-radius: em(8px);
          background: $purple;
          transition: all $speed ease;
          box-shadow: -6px 6px 0px 0px rgba(55, 55, 55, 0.2);

          &_Icon {
            width: em(20px);
            height: em(20px);
          }

          &:hover {
            background: rgb(98, 60, 246);
          }

          &:active {
            box-shadow: none;
            transform: translate(-4px, 4px);
          }
        }

        .Logout {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          @extend %button;
          font-size: 100%;
          padding: em(8px) em(12px);
          height: em(40px);
          border: 2px solid $border;
          border-radius: em(8px);
          box-shadow: -6px 6px 0px 0px rgba(55, 55, 55, 0.2);
          transition: all $speed ease;

          background: linear-gradient(
            to left,
            transparent 50%,
            rgb(118, 86, 245) 50%
          );
          background-size: 200% 0%;
          background-position: right top;

          &_Label {
            user-select: none;
            display: flex;
            color: $text;
            font-family: $Poppins;
            font-size: em(16px);
            font-weight: 500;
            transition: all $speed ease;
          }

          &_Icon {
            width: em(18px);
            height: em(18px);
            margin-left: em(12px);
            path {
              transition: all $speed ease;
            }
          }

          &:hover {
            border: 2px solid rgb(118, 86, 245);
            background-position: left top;
            background-size: 200% 100%;
            .Logout_Label {
              color: $white;
            }
            .Logout_Icon path {
              fill: $white;
            }
          }

          &:active {
            border: 2px solid rgb(118, 86, 245);
            background-position: left top;
            box-shadow: none;
            transform: translate(-4px, 4px);
            .Logout_Label {
              color: $white;
            }
            .Logout_Icon path {
              fill: $white;
            }
          }
        }

        .User,
        .Logout {
          width: max-content;
          align-self: center;
        }
      }
    }

    &_Visible {
      opacity: 1;
      pointer-events: initial;
      .Sidebar {
        transform: translate(0);
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
