.Header {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  min-height: em(74px);
  padding: em(18px) 0;
  border-bottom: 2px solid rgb(240, 240, 240);
  box-shadow: 0px 2px 12px 0px rgb(247, 247, 247);
  background: rgb(255, 255, 255);

  @include ifdesktop {
    min-height: em(100px);
    padding: em(25px) 0;
  }

  &_Container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &_Logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-right: em(20px);
  }

  &_Navbar {
    display: none;
    flex-direction: row;
    align-items: center;
    @include ifdesktop {
      display: flex;
    }
    li:not(:last-child) {
      margin-right: em(48px);
    }

    .Link {
      line-height: normal;
      white-space: nowrap;
      color: $text;
      font-family: $Poppins;
      font-size: em(20px);
      font-weight: 500;

      overflow: hidden;
      background: linear-gradient(to right, $purple, $purple 50%, $text 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position $speed ease;
      &:hover {
        // color: $purple;
        background-position: 0 100%;
      }

      &_Active {
        // color: $purple;
        background-position: 0 100%;
      }
    }
  }

  &_Actions {
    display: none;
    flex-direction: row;
    align-items: center;
    @include ifdesktop {
      display: flex;
    }
    .Login {
      margin-right: em(12px);
    }

    .User {
      display: flex;
      justify-content: center;
      align-items: center;
      width: em(40px);
      height: em(40px);
      margin-right: em(20px);
      border-radius: 100%;
      background: $purple;
      transition: all $speed ease;
      &_Icon {
        width: em(20px);
        height: em(20px);
      }

      &:hover {
        background: rgb(98, 60, 246);
      }

      &:active {
        background: $text;
      }
    }

    .Logout {
      display: flex;
      align-items: center;
      cursor: pointer;
      @extend %button;
      background: transparent;
      font-size: 100%;
      padding: em(8px) em(12px);
      border: 2px solid transparent;
      border-radius: em(8px);
      transition: border $speed ease;
      &_Label {
        display: flex;
        color: $text;
        font-family: $Poppins;
        font-size: em(18px);
        font-weight: 500;
      }

      &_Icon {
        width: em(24px);
        height: em(24px);
        margin-left: em(12px);
        path {
          transition: transform $speed ease;
        }
      }

      &:hover {
        border: 2px solid rgb(204, 191, 255);
        // .Logout_Icon path:nth-child(2) {
        //   transform: translate(5px, 0);
        // }
      }

      &:active {
        border: 2px solid rgb(118, 86, 245);
      }
    }
  }

  &_Burder {
    position: fixed;
    right: em(48px);
    z-index: 10000;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: em(27px);
    height: em(18px);
    cursor: pointer;

    @include ifdesktop {
      display: none;
    }
    @include iftablet {
      right: em(20px);
    }
    @include ifmobile {
      right: em(12px);
    }
    span {
      position: absolute;
      width: 100%;
      height: em(3px);
      background: rgb(153, 153, 153);
      border-radius: em(9px);
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      &:nth-child(1) {
        top: 0px;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(2),
      &:nth-child(3) {
        top: 50%;
        transform: translate(0, -50%);
      }

      &:nth-child(4) {
        bottom: 0;
      }
    }

    &__Active {
      span:nth-child(1),
      span:nth-child(4) {
        opacity: 0;
      }

      span:nth-child(2) {
        opacity: 1;
        transform: rotate(45deg);
      }

      span:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }

  &_Sidebar {
    position: fixed;
    z-index: $popup;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    transition: all $speed ease;

    .Overlay {
      @extend %fullsize;
      opacity: 0.5;
      background: #19192d;
    }

    .Sidebar {
      position: fixed;
      z-index: 1001;
      top: 0;
      right: 0;
      width: em(384px);
      // min-height: 100vh;
      min-height: 100dvh;
      height: 100%;
      overflow: auto;
      overflow-x: hidden;
      background: $white;
      box-shadow: 0px 4px 46px 0px rgba(0, 0, 0, 0.05);
      transition: all $speed ease;
      transform: translate(100%, 0);
      @include ifmobile {
        width: 100%;
      }

      &_Flower_1,
      &_Flower_2 {
        position: absolute;
      }
      &_Flower_1 {
        left: 0;
        top: em(117px);
        width: em(137px);
        height: em(196px);
      }
      &_Flower_2 {
        right: 0;
        bottom: em(134px);
        width: em(123px);
        height: em(304px);
        @include iftablet {
          bottom: em(114px);
          width: em(174px);
          height: em(430px);
        }
      }

      &_Content {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 100%;
        min-height: 100%;
        padding: em(35px) em(30px) em(47px);
        @include ifmobile {
          padding: em(35px) em(18px) em(47px);
        }
      }

      &_Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: em(60px);
        .Logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          cursor: pointer;

          &_Icon {
            width: em(37.333px);
            height: em(19.314px);
            margin-right: em(8px);
            overflow: visible;
            path {
              stroke: #1f1e58;
            }
          }
          &_Label {
            color: $text;
            font-size: em(20px);
            font-style: normal;
            font-weight: 600;
            line-height: 115%;
          }
        }

        .Close {
          width: em(18px);
          height: em(18px);
        }
      }

      &_Navbar {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: auto;
        li:not(:last-child) {
          margin-bottom: em(44px);
        }
        .Link {
          font-family: 'Gantari', sans-serif;
          color: $text;
          font-size: em(20px);
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          white-space: nowrap;
          &_Active {
            color: $pr1;
          }

          &:hover {
            color: $pr1;
          }
        }
      }

      &_Actions {
        display: flex;
        flex-direction: column;
        margin-top: em(30px);
        .SignUp {
          margin-bottom: em(8px);
        }
        .Login,
        .SignUp {
          width: 100%;
          height: em(53px);
          padding: em(16px) em(41px);
          span {
            font-size: em(17px);
          }
        }

        .User {
          display: flex;
          margin: 0 auto em(30px);
          &_Icon {
            width: em(72px);
            height: em(72px);
          }
          &:hover {
            .User_Icon circle {
              fill: #1f1e58;
            }
          }
          &:active {
            .User_Icon circle {
              fill: #1f1e58;
            }
          }
        }

        .Logout {
          display: flex;
          align-items: center;
          cursor: pointer;
          @extend %button;
          background: transparent;
          font-size: 100%;
          margin: 0 auto;
          &_Label {
            display: flex;
            color: $pr1;
            font-size: em(20px);
            font-style: normal;
            font-weight: 600;
            line-height: 100%;
            font-family: 'Gantari', sans-serif;
          }
          &_Icon {
            width: em(45px);
            height: em(45px);
            margin-left: em(10px);
            path {
              transition: transform $speed ease;
            }
          }

          &:hover {
            .Logout_Label {
              color: $text;
            }
            .Logout_Icon path {
              stroke: $text;
            }
          }
          &:active {
            .Logout_Label {
              color: $text;
            }
            .Logout_Icon path {
              stroke: $text;
            }
            .Logout_Icon path:nth-child(2) {
              transform: translate(5px, 0);
            }
          }
        }
      }
    }

    &_Visible {
      opacity: 1;
      pointer-events: initial;
      .Sidebar {
        transform: translate(0);
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
