.ForgotPassword {
  padding: em(160px) 0 em(187px);
  @include iflaptop {
    padding: em(134px) 0 em(80px);
  }
  @include iftablet {
    padding: em(134px) 0 em(60px);
  }
  @include ifmobile {
    padding: em(114px) 0 em(40px);
  }

  &_Container {
    max-width: em(1296px);
    @include iftablet {
      max-width: em(550px);
    }
  }

  &_Title {
    text-align: center;
    margin-bottom: em(20px);
    @include iflaptop {
      margin-bottom: em(32px);
    }
    @include iftablet {
      margin-bottom: em(28px);
    }
    @include ifmobile {
      margin-bottom: em(23px);
    }
    span {
      color: $purple;
    }
  }

  &_Subtitle {
    text-align: center;
    max-width: em(580px);
    margin: 0 auto em(40px);
    @include iflaptop {
      max-width: em(537px);
      margin: 0 auto em(60px);
    }
    @include iftablet {
      max-width: em(536px);
      margin: 0 auto em(50px);
    }
    @include ifmobile {
      margin: 0 auto em(40px);
    }
  }

  &_Content {
    box-sizing: border-box;
    border: 2px solid $border;
    box-shadow: -2px 4px 12px 0px rgb(246, 246, 246);
    background: $white;
    border-radius: em(16px);
    display: grid;
    grid-template-columns: em(404px) 1fr;
    gap: 0 em(186px);
    padding: em(60px) em(91px) em(32px);
    @include iflaptop {
      grid-template-columns: em(269px) 1fr;
      gap: 0 em(136px);
      padding: em(38px) em(52px) em(32px) em(38px);
    }
    @include iftablet {
      grid-template-columns: 1fr;
      padding: em(38px) em(38px) em(32px) em(40px);
    }
    @include ifmobile {
      grid-template-columns: 1fr;
      padding: em(38px) em(18px) em(30px);
    }

    .Image {
      width: em(404px);
      height: em(404px);
      @include iflaptop {
        width: em(306px);
        height: em(306px);
      }
      @include iftablet {
        display: none;
      }
      @include ifmobile {
        display: none;
      }
    }

    .Form {
      display: flex;
      flex-direction: column;
      &_Fields {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: em(28px);
        @include ifmobile {
          margin-bottom: em(28px);
        }

        .VerificationCode {
          &_Error {
            margin-top: em(4px);
            p {
              color: $error;
              font-size: em(12px);
              font-weight: 400;
            }
          }
          &_RepeatSending {
            margin-top: em(32px);
            @include iflaptop {
              margin-top: em(26px);
            }
            @include iftablet {
              margin-top: em(26px);
            }
            @include ifmobile {
              text-align: center;
              margin-top: em(22px);
            }
            p {
              color: $grey;
              font-size: em(16px);
              font-weight: 500;
              span {
                cursor: pointer;
                color: $text;
              }
            }
          }
        }

        .PasswordCheck {
          display: flex;
          flex-direction: row;
          margin-top: em(4px);
          &_Item {
            display: flex;
            flex-direction: row;
            align-items: center;
            &:not(:last-child) {
              margin-right: em(16px);
            }
            .Icon {
              width: em(16px);
              height: em(16px);
              margin-right: em(4px);
            }
            .Label {
              color: $grey;
              font-size: em(12px);
              font-weight: 400;
            }
            &__Valid {
              .Icon path {
                fill: rgb(45, 172, 0);
              }
            }
          }
        }
      }

      &_Button {
        margin-left: em(6px);
        margin-bottom: em(52px);
        @include iflaptop {
          margin-bottom: em(72px);
        }
        @include iftablet {
          margin-bottom: em(98px);
        }
        @include ifmobile {
          width: 100%;
          margin-bottom: em(45px);
          margin-left: 0;
        }
      }

      &_ToMainPage {
        margin-top: auto;
      }
    }
  }
}

@include iflaptop {
}
@include iftablet {
}
@include ifmobile {
}
